
 body {
  margin: 0px 0px 0px 0px;
}

  #logo {
    width: 150px;
    margin: 10px 10px 0px 10px;
  }

  .box {
      width: 175px;
      border: 5px solid #ffb500;
      padding: 0px 10px 10px 10px;
      background: linear-gradient(to bottom right, white, #d1d2d3);
      font-family: "Open Sans";

  }

  .stat {
    font-size: 15px;
    color: #949494;
    line-height: 1.4em;
    margin-top: 10px;
    float: left;
  }

 #iType, #engRate, #avgLikes, #avgComments, #dangerCheckData  {
    color: #949494;
    margin-bottom: 3px;
    margin-left: 50px;
    font-weight: 900;
  }

  .info {
    margin-left: 60px;
    line-height: 1em;
    font-size: 12px;
    color: #949494;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 15px;
  }

  .icon {
   float: left;
   padding: 0px 10px 0px 0px;
   height: 39px;
   width: 39px;
  }

  #dangerCheck, #safetyCheck {
  padding-top: 10px;
  float: left;
  }

  .circle {
      background-color:#fff;
      border:5px solid #ffb500;
      height:50px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:50px;
  }
  .btn {
    background: #FFA907;
    background-image: -webkit-linear-gradient(top, #FFA907, #e67905);
    background-image: -moz-linear-gradient(top, #FFA907, #e67905);
    background-image: -ms-linear-gradient(top, #FFA907, #e67905);
    background-image: -o-linear-gradient(top, #FFA907, #e67905);
    background-image: linear-gradient(to bottom, #FFA907, #e67905);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    display: inline-flex;
    margin: 15px 10px 10px 37px
  }

  .btn:hover {
    background: #2aa346;
    background-image: -webkit-linear-gradient(top, #2aa346, #34d93f);
    background-image: -moz-linear-gradient(top, #2aa346, #34d93f);
    background-image: -ms-linear-gradient(top, #2aa346, #34d93f);
    background-image: -o-linear-gradient(top, #2aa346, #34d93f);
    background-image: linear-gradient(to bottom, #2aa346, #34d93f);
    text-decoration: none;
  }

  #dangerCheckData, #fakeRate {
    display: none;
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  float: right;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffb500;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
